{% extends "includes/base_admin.html" %}
<!--  -->
{% load staticfiles %}

<!--  -->
{% block content %}
<div class="div_bk col-12 col-md-10">
  <!-- {{message}} -->
  <div class="row">
    <div class="col-12 col-md-4">
      <h3>This team is {{ team.name_team }}</h3>
      <h5>created at {{ team.create_date }}</h5>
    </div>

    <form class="col-12 col-md-7" style="margin:auto" id="form-add-roles">
      <div class="md-form">
        <label for="user">Select user:</label>
        <select class="form-control" id="id_user"></select>
      </div>
      <div class="md-form mt-3">
        <label for="Attachment">Select Attachment:</label>
        <select class="form-control" id="id_attachment"></select>
      </div>
      <div class="md-form mt-3">
        <button
          id="add_btn_team"
          onclick="addToTeam(event)"
          class="btn btn-block btn-primary"
        >
          Add To Team
        </button>
      </div>
    </form>
  </div>
</div>
<!--  -->
{% endblock content %}
<!--  -->
{% block script %}
<script>
  const csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'js/member.js' %}"></script>

{% endblock script %}
