{% extends "includes/base_user.html" %} {% load i18n %} {% load static %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="ui dividing header">{% trans "Forget Password" %} </h2>

            <form method="post">
                {% csrf_token %}
                {{ form.email }}
                {% if form.email.errors %}
                <div class="ui red message">{{ form.email.errors }}</div>
                {% endif %}

                <div class="d-flex justify-content-around">
                    <div>
                        <button class="btn btn-primary submit " name="resetBtn" type="submit">{% trans "Submit" %}
                        </button>
                    </div>
                    <div>
                        <a href="{% url 'Users:login'%}">
                            <div class="btn btn-default">{% trans "Cancel" %} </div>
                        </a>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
<br>
<br>

{% endblock content %}