{% extends "includes/base_user.html" %} {% load i18n %} {% load static %} {% block document_container %}
    <h2 class="ui dividing header">{% trans "Set new password" %}</h2>

    <form method="post">
        {% csrf_token %}
        <div class="ui two column middle aligned very relaxed stackable grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>{% trans "Password" %} </label>
                        <div class="ui left icon input">
                            {{ form.password1 }}
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>{% trans "Confirm Password" %} </label>
                        <div class="ui left icon input">
                            {{ form.password2 }}
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="ui red message">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <button class="ui blue submit button" name="resetBtn" type="submit">{% trans "Submit" %}</button>
                    <a href="{% url 'Users:login'%}"><div class="ui button">{% trans "Cancel" %}</div></a>
                </div>
            </div>
        </div>
    </form>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock document_container %}
