{% extends "includes/base_admin.html" %}
{% load staticfiles %}

{% block content %}


<!--  Content  -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">History backup database</h4>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>Backup Name</th>
                                <th>Backup Date</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Joe Backup</td>
                                    <td>10/03/2562</td>
                                    <td><button class="btn btn-sm btn-light">view</button><button class="btn btn-sm btn-light"">download</button></td>
                                </tr>
                            
                            </tbody>
                        </table>

                    </div>
                </div>

            </div> <!-- /.row -->
            
          
        </div>
    </div><!-- /# column -->
</div>
<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">History backup web</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>Backup Name</th>
                                    <th>Backup Date</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Joe Backup</td>
                                        <td>10/03/2562</td>
                                        <td><button class="btn btn-sm btn-light"">view</button><button class="btn btn-sm btn-light"">download</button></td>
                                    </tr>
                                
                                </tbody>
                            </table>
    
                        </div>
                    </div>
    
                </div> <!-- /.row -->
                
              
            </div>
        </div><!-- /# column -->
    </div>
<!--  /Content -->


{% endblock content %}