{% extends "includes/base_admin.html" %}
{% load staticfiles %}

{% block content %}


<!--  Content  -->
<div class="row">
    <div class="col-lg-12">
        <div class="card border border-primary">
            <div class="card-body">
                <h4 class="box-title"> View account</h4>
            </div>

            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container bootstrap snippet">
                                {% for item in users_data %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <!--left col-->


                                    <div class="text-center">
                                       
                                        <img src="/media/{{item.avatar}}"
                                            class="avatar img-circle img-thumbnail" alt="avatar">
                                       
                                    </div>
                                    </hr><br>
                                </div>
                                <!--/col-3-->

                                
                                <div class="col-sm-9">
                              
                                    
                                        <div class="form-group">
                                            <div class="row">
                                            <div class="col-md-2">
                                                <label for="first_name">
                                                   <h5> <b>First name</b></h5>
                                                </label>
                                                <h5>{{item.first_name}}</h5>
                                            </div>
                                          
                                                  
                                         
                                        </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="last_name">
                                                    <h5><b>Last name</b></h5>
                                                </label>
                                                <h5>{{item.last_name}}</h5>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="phone">
                                                    <h5><b>Phone</b></h5>
                                                </label>
                                                <h5>{{item.tel}}</h5>
                                            </div>
                                        </div>
                                        <hr>
                                        
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <label for="email">
                                                    <h5><b>Email</b></h5>
                                                </label>
                                                <h5>{{item.email}}</h5>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <label for="email">
                                                    <h5><b>Location</b></h5>
                                                </label>
                                                <h5>{{item.location}}</h5>
                                            </div>
                                        </div>
                                        </div>
                                    
                              
                                    <hr>
                                </div>
                            </div>
                            <!--/col-9-->
                        </div>
                        <!--/row-->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /# column -->
</div>
<!--  /Content -->


{% endblock content %}